.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #6e6893;
}

.footer__group {
  display: flex;
  gap: 5px;
}

.footer__group-select {
  background-color: #F4F2FF;
  color: #6e6893;
  border: none;
}

.footer__list {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.footer__item {
  list-style: none;
}

.footer__item-link:hover {
  color: #6d5bd0;
}

.footer__item-link:active {
  color: #000;
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
    gap: 5px;
  }
}